:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
}
